html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: white;

  &::-webkit-scrollbar {
    display: none;
  }
}

form {
  a {
    color: $link-color;
    font-size: 1.3em;
  }
}